{% extends 'layouts/base.html.twig' %}

{% block title 'Trouvez tout les utilisateurs de notre bibliothèque' %}

{% block body %}
	<div class="container mt-4">
		<h1>Gérer les utilisateurs</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>
						<a href="{{ path('app_account_edit', {id: user.id}) }}" class="btn btn-secondary">Editer</a>

					</td>
				</tr>

			{% endfor %}
			</tbody>
		</table>
		<div class="text-right">
			<a href="{{ path('app_register') }}" class="btn btn-primary">Créer un nouvel utilisateur</a>
		</div>
	</div>
{% endblock %}
