{% extends 'layouts/base.html.twig' %}

{% block title 'Genre'%}

{% block body %}
    <h1>Gender</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gender.id }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ gender.genre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gender_index') }}">back to list</a>

    <a href="{{ path('gender_edit', {'id': gender.id}) }}">Editer</a>

    {{ include('gender/_delete_form.html.twig') }}
{% endblock %}
