{% extends 'base.html.twig' %}

{% block title 'Trouvez tout les livres de notre bibliothèque' %}

{% block body %}
	<h3><a href="{{path('app_books_create')}}">Créer un livre</a></h3>

	<h1> {{ pluralize(books|length, 'Livre')}} dans notre bibliothèque</h1>

	{%  for book in books %}
			<article>
				<h2><a href="{{path('app_books_show', {id: book.id}) }}"> {{ book.title }}</a> </h2>
				<p>{{ book.author }} </p>
				<p>{{ book.comments }}</p>

			</article>

	{% endfor %}

{% endblock %}
