{% extends 'base.html.twig' %}

{% block title 'Trouvez tout les livres de notre bibliothèque' %}

{% block body %}

	<h1> {{ pluralize(books|length, 'Livre')}} dans notre bibliothèque</h1>

	{%  for book in books %}
			<article>
				<h2><a href="{{path('app_pins_show', {id: book.id}) }}"> {{ pin.title }}</a> </h2>
				<p>{{ pin.author }} </p>
				<p>{{ pin.comments }}</p>

			</article>

	{% endfor %}

{% endblock %}
