{% extends 'base.html.twig' %}

{% block title book.title %}

{% block body %}

	
			<article>

				<h1>{{ book.title }}</h1>
				<p>{{ book.author }} </p>
				<p>{{ book.comments }}</p>

			</article>
			<a href="{{path('app_books_edit', {id: book.id})}}">Modifier</a> |
			<a href="#" onclick="event.preventDefault(); confirm('Etes vous sûr ?') &&
			document.getElementById('js-book-delete-form').submit();">Supprimer</a> | 
			<a href="{{path('app_home')}}">Retour à l'accueil</a> 

			<form id="js-book-delete-form"action="{{path('app_books_delete', {id: book.id})}}" method="post"
			 style="display:none;">
			 	<input type="hidden" name="csrf_token" value="{{ csrf_token('book_deletion' ~book.id)}}">
				<input type="hidden" name="_method" value="DELETE">
			</form>
	

{% endblock %}