{% extends 'base.html.twig' %}

{% block title book.title %}

{% block body %}

	
			<article>

				<h1>{{ book.title }}</h1>
				<p>{{ book.author }} </p>
				<p>{{ book.comments }}</p>

			</article>
			<a href="{{path('app_books_edit', {id: book.id})}}">Modifier</a> | 
			<a href="{{path('app_home')}}">Retour à l'accueil</a>

	

{% endblock %}