{% extends 'layouts/base.html.twig' %}

{% block title 'Trouvez tout les films de notre vidéothèque' %}

{% block body %}
	<h3><a href="{{path('app_movies_create')}}">Créer un film</a></h3>

	<h1> {{ pluralize(movies|length, 'Film')}} dans notre vidéothèque</h1>

	{%  for movie in movies %}
			<article>
				<h2><a href="{{path('app_movies_show', {id: movie.id}) }}"> {{ movie.title }}</a> </h2>
				<p>{{ movie.director }} </p>
				<p>{{ movie.comments|u.truncate(15, '...', true) }}</p>
				<p>Créer depuis {{ movie.createdAt|ago }}</p>

			</article>

	{% endfor %}

{% endblock %}
