{% extends 'layouts/base.html.twig' %}

{% block title movie.title %}

{% block body %}
<div class="row">
		<div class="col-md-6 mx-auto">
			<article class="pin bg-white rounded shadow">
							<div class="mw-100 overflow-hidden rounded-top">
									
									<img src="{{ (movie.imageName ? vich_uploader_asset(movie) :
									 asset('build/images/default.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ movie.title }}" class="w-100 rounded-top" />
								
							</div>

				<div class="p-3">
							<h1> {{ movie.title }}</h1>
							<p>{{ movie.director }} </p>
							<p class="text-break">{{ movie.comments }}</p>
							
							<p class="text-muted">
								<small>
								Créer le {{ movie.createdAt|date('d/m/Y') }} par par {{movie.user.fullName}}
								</small>
							</p>
					{% if app.user == movie.user %}
						<div class="mx-auto">
							<a href="{{path('app_movies_edit', {id: movie.id})}}" class="btn btn-light">Modifier</a> 
							<a href="#" class="btn btn-light" onclick="event.preventDefault(); confirm('Etes vous sûr ?') &&
							document.getElementById('js-movie-delete-form').submit();">Supprimer</a>  
							<a href="{{path('app_movies_index')}}" class="btn btn-light">Retour </a> 

							<form id="js-movie-delete-form"action="{{path('app_movies_delete', {id: movie.id})}}" method="post"
							 style="display:none;">
							 	<input type="hidden" name="csrf_token" value="{{ csrf_token('movie_deletion_' ~ movie.id)}}">
								<input type="hidden" name="_method" value="DELETE">
							</form>
					</div>
					{% endif %}
				</div>
			</article>
			
	
		</div>
	</div>
	

{% endblock %}