{% extends 'layouts/base.html.twig' %}

{% block title game.title %}

{% block body %}
<div class="row">
		<div class="col-md-6 mx-auto">
			<article class="pin bg-white rounded shadow">
							<div class="mw-100 overflow-hidden rounded-top">
									<img src="{{ (game.imageName ? vich_uploader_asset(game) :
									 asset('build/images/default.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ game.title }}" class="w-100 rounded-top" />
							</div>

				<div class="p-3">
							<h1> {{ game.title }} </h1>
							<p>{{ game.support }} </p>
							<p class="text-break">{{ game.comments }}</p>
							
							<p class="text-muted">
								<small>
								Créer le {{ game.createdAt|date('d/m/Y') }} par {{game.user.fullName}}
								</small>
							</p>
					{% if app.user == game.user %}
						<div class="mx-auto">
							<a href="{{path('app_games_edit', {id: game.id})}}" class="btn btn-light">Modifier</a> 
							<a href="#" class="btn btn-light" onclick="event.preventDefault(); confirm('Etes vous sûr ?') &&
							document.getElementById('js-game-delete-form').submit();">Supprimer</a>  
							<a href="{{path('app_games_index')}}" class="btn btn-light">Retour à l'accueil</a> 

							<form id="js-game-delete-form"action="{{path('app_games_delete', {id: game.id})}}" method="post"
							 style="display:none;">
							 	<input type="hidden" name="csrf_token" value="{{ csrf_token('game_deletion_' ~ game.id)}}">
								<input type="hidden" name="_method" value="DELETE">
							</form>
						</div>
					{% endif %}
				</div>
			</article>
			
	
		</div>
	</div>

{% endblock %}