{% extends 'layouts/base.html.twig' %}

{% block title 'Trouvez tout les disques de notre sonothèque' %}

{% block body %}
{%  if discs|length >0  %}
		<h1 class="mb-4 text-center text-muted "> {{ pluralize(discs|length, 'Disque')}} dans notre sonothèque
		<h3 class="mb-4 text-center">
		<a href="{{path('app_discs_create')}}">Créer un nouveau Disque</a>
		</h3>
			<div class="jumbotron">
				<div class="container">
					{{ form_start(form) }}
					<div class="form-row align-items-end">
						<div class="col">
							{{ form_row(form.depositary) }}
						</div>
						<div class="col">
							{{ form_row(form.artist) }}
						</div>
						<div class="col">
							<div class="form-group">
								<button class="btn btn-primary">Rechercher</button>
							</div>
						</div>
					</div>

					{{ form_end(form) }}
				</div>
			</div>
		</h1>
		{%  for row in discs|batch(3) %}
			<div class=" mb-5 row">
				{%  for disc in row %}
					<div class="col-md-4">
						<article class="pin bg-white rounded shadow">
							<div class="mw-100 overflow-hidden rounded-top">
								<a href="{{path('app_discs_show', {id: disc.id}) }}">	
									<img src="{{ (disc.imageName ? vich_uploader_asset(disc) :
									 asset('build/images/default.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ disc.title }}" class="w-100 rounded-top" />
								</a>
							</div>
							<div class="pl-3 pt-3"
							<h5><a href="{{path('app_discs_show', {id: disc.id}) }}" class="text-secondary text-decoration-none"> {{ disc.title }}</a> </h5>
							<p class="pt-3">{{ disc.artist }} </p>
							</div>
							<p class="pl-3 pb-3 text-muted"><small>Créer le {{ disc.createdAt|date('d/m/Y') }} par {{disc.user.fullName}}</small></p>

						</article>
					</div>	
				{% endfor %}
			</div>
		{% endfor %}
	{% else %}
		<p class="h1 mt-5 text-center">Pas encore de disques <a href="{{path('app_discs_create')}}">soyez le premier</a></p>
	{% endif %}	

{% endblock %}
