{% extends 'layouts/base.html.twig' %}

{% block title disc.title %}

{% block body %}
<div class="row">
		<div class="col-md-6 mx-auto">
			<article class="pin bg-white rounded shadow">
							<div class="mw-100 overflow-hidden rounded-top">
								
									<img src="{{ (disc.imageName ? vich_uploader_asset(disc) :
									 asset('build/images/default.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ disc.title }}" class="w-100 rounded-top" />
							</div>

				<div class="p-3">
							<h1> {{ disc.title }} </h1>
							<h3> {{ disc.genders.genre }}</h3>
							<p>{{ disc.artist }} </p>
							<p class="text-break">{{ disc.support }}</p>
							
							<p class="text-muted">
								<small>
								Créer le {{ disc.createdAt|date('d/m/Y') }} par {{disc.user.fullName}}
								</small>
							</p>
					{% if app.user == disc.user %}
						<div class="mx-auto">
							<a href="{{path('app_discs_edit', {id: disc.id})}}" class="btn btn-light">Modifier</a> 
							<a href="#" class="btn btn-light" onclick="event.preventDefault(); confirm('Etes vous sûr ?') &&
							document.getElementById('js-disc-delete-form').submit();">Supprimer</a>  
							<a href="{{path('app_discs_index')}}" class="btn btn-light">Retour</a> 

							<form id="js-disc-delete-form"action="{{path('app_discs_delete', {id: disc.id})}}" method="post"
							 style="display:none;">
							 	<input type="hidden" name="csrf_token" value="{{ csrf_token('disc_deletion_' ~ disc.id)}}">
								<input type="hidden" name="_method" value="DELETE">
							</form>
						</div>
					{% endif %}
				</div>
			</article>
			
	
		</div>
	</div>

{% endblock %}